.container {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 85vh; /* Full viewport height */
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  flex-direction: row; /* Stack children vertically */
}
.jigrelease {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 500px;
  height: 100%;
  flex-direction: column; /* Stack children vertically */
  //   레이아웃 표시 나중에 지우기
  // border: 1px solid black;
}
.jigrequest {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 600px;
  height: 100%;
  margin-left: 30px;
  flex-direction: column; /* Stack children vertically */
  //   레이아웃 표시 나중에 지우기
  // border: 1px solid black;
}
.jigrepairlist {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 600px;
  height: 100%;
  flex-direction: column; /* Stack children vertically */
  //   레이아웃 표시 나중에 지우기
  // border: 1px solid black;
}
.repairrequest {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 800px;
  height: 100%;
  flex-direction: column; /* Stack children vertically */
  //   레이아웃 표시 나중에 지우기
  // border: 1px solid black;
}
