.container {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 85vh; /* Full viewport height */
  width: 100%;
  flex-direction: column;
  // border: 1px solid black;
}
.report {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  //   border: 1px solid black;
  height: 15vh; /* Full viewport height */
  width: 100%;
}
.middle {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  // border: 1px solid blue;
  height: 40vh; /* Full viewport height */
  width: 100%;
  padding-left: 70px;
  margin-top: 20px;
}
.jiglocation {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  // border: 1px solid blue;
  height: 40vh; /* Full viewport height */
  width: 65vw;
}
.percent {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  // border: 1px solid red;
  height: 40vh; /* Full viewport height */
  width: 35vw;
}
.bottom {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  // border: 1px solid blue;
  height: 30vh; /* Full viewport height */
  width: 100%;
}
.method {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  // border: 1px solid blue;
  height: 30vh; /* Full viewport height */
  width: 30vw;
}
.wo {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  // border: 1px solid blue;
  height: 30vh; /* Full viewport height */
  width: 70vw;
}
