.container {
  display: flex;
  justify-content: start; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Full viewport height */
  width: 100%;
  flex-direction: column;
  border: 1px solid black;
}
.report {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  //   border: 1px solid black;
  height: 15vh; /* Full viewport height */
  width: 100%;
}
.graph {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  height: 45vh; /* Full viewport height */
  width: 100%;
}
.bottom {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  height: 28vh; /* Full viewport height */
  width: 100%;
}
.jiglocation {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  border: 1px solid blue;
  height: 28vh; /* Full viewport height */
  width: 60vw;
}
.jigalarm {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  border: 1px solid blue;
  height: 28vh; /* Full viewport height */
  width: 40vw;
}
