.container {
  display: flex;
  justify-content: start; /* Center horizontally */
  align-items: start;
  flex-direction: column;
  height: 100%;
  width: 80%;
}
.table {
  height: 70%;
  table {
    thead {
      tr {
        th {
          background-color: var(--white);
          border: 1px solid var(--realwhite);
          color: black;
        }
      }
    }
  }
}
.input {
  background-color: var(--realwhite);
  // border: 1px solid var(--gray);
  width: 150px;
  margin-bottom: 5px;
}
