.fullWidth {
  /* 너비 관련 스타일 */
  width: 80%;
  max-width: 100%;
  box-sizing: border-box; /* 패딩과 보더가 너비에 포함되도록 설정 */

  /* 패딩과 마진 */
  margin: 10px 0;
  padding: 20px;

  /* 테두리와 라운드 */
  border: 1px solid var(--samsungblue);
  border-radius: 8px;
  background-color: var(--white);
  cursor: pointer;
  /*transition: box-shadow 0.3s ease;*/
  height: 80px;
}

.fullWidth:hover {
  /* 그림자를 더 도드라지게 하여 클릭 가능함을 나타냄 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.right {
  display: flex;
  justify-content: flex-end;
  margin-right: 180px;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.short {
  max-width: 200px;
}
.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
